<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in.css">
</head>
<body>

   

    <form method="POST"  id="sign_in_form">

        <h1>Sign In</h1>
        <div class="mail">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" required>
        
    </div>

    <div class="Pass">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" required>
        
            
    </div>

        <button type="submit">Sign IN</button>
        
    <div class="size">
    <p>Not a member? <a href="/sign_up">Sign Up now</a></p>
</div>  
    </form>
    <script src="../static/js/sign_in.js"></script>
</body>
</html>