<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resume</title>
    <link rel="stylesheet" type="text/css" href="../static/css/UploadResume.css">
</head>
<body>
    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li class="active"><a href="#">Welcome</a></li>
                <li><a href="JobApp.html">Apply Job</a></li>
                <li><a href="Job_list.html">Jobs List</a></li>
                <li><a href="UploadResume.html">Upload Resume</a></li>
                <li><a href="Dashboard.html">Dashboard</a></li>
                <li><a href="Personal_Info.html">Personal info</a></li>
                <li><a href="sign_in.html">Logout</a></li>
            </ul>
        </nav>
    </aside>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="select_job">
                <label for="job_name">Select Job Name:</label>
                <select id="job_name" name="job_name" required>
                    {% for job_name in job_names %}
                        <option value="{{ job_name }}">{{ job_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="upload_resume">
                <label for="resume">Upload Resume:</label>
                <input type="file" id="resume" name="resume" accept=".pdf" required multiple>
            </div>
            <button type="submit">Validate</button>
        </form>
    </div>
</body>
</html>
