body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #a6a6a6c3,#ffffff);

}


button[type="submit"] {
    width: 40%;
    margin-left: 30%;
    padding: 12px;
    background-color: #33608f; /* Blue button color */
    color: #ffffff;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #014287;
}

button[type="button"] {
    width: 20%;
    margin-left: 5%;
    padding: 5px;
    background-color: #33608f; /* Blue button color */
    color: #ffffff;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="button"]:hover {
    background-color: #014287; /* Darker blue on hover */
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-bottom: 50px;
}

h1 {
    font-size: 100px;
    color: #333;
    margin-bottom: 50px;
    margin-top: 10px;

}

.First_Name {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Last_Name {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Username {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Age {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Phone {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Email {
    margin-bottom: 15px;
    margin-left: 10px;
}


.Password {
    margin-bottom: 15px;
    margin-left: 10px;
}

.Password{
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.logo {
    display: block;
    margin: 0 auto 20px;
}

.size{
    font-size: small;
}

