@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background: linear-gradient(-45deg, #bdc3c7, #2c3e50);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


::selection{
  background: #4158d0;
  color: #fff;
}
form {
  width: 380px;
  background: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  padding: 10px 30px 50px 30px;
}
form h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px ;
  background: linear-gradient(-135deg, #bdc3c7, #2c3e50);
}
form .mail, form .Pass {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
form .mail input, form .Pass input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
form .mail input:focus, form .mail input:valid,
form .Pass input:focus, form .Pass input:valid {
  border-color: #4158d0;
}
form .mail label, form .Pass label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .mail input:focus ~ label, form .mail input:valid ~ label,
form .Pass input:focus ~ label, form .Pass input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form button[type="button"] {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #4158d0;
  background: #fff;
  color: #4158d0;
  transition: background 0.3s ease, color 0.3s ease;
  margin-top: 20px;
}
form button[type="button"]:hover {
  background: #4158d0;
  color: #fff;
}
form button[type="submit"] {
  color: #fff;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #bdc3c7, #2c3e50);
  transition: all 0.3s ease;
}
form button[type="submit"]:active {
  transform: scale(0.95);
}
form .size {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .size a {
  color: #2c3e50;
  text-decoration: none;
}
form .size a:hover {
  text-decoration: underline;
}
