<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs list</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Job_list.css">
</head>
<body>
    <div>
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    <li class="active"><a href="#">Welcome</a></li>
                    <li><a href="JobApp.html">Apply Job</a></li>
                    <li><a href="Job_list.html">Jobs List</a></li>
                    <li><a href="UploadResume.html">Upload Resume</a></li>
                    <li><a href="Dashboard.html">Dashboard</a></li>
                    <li><a href="Personal_Info.html">Personal info</a></li>
                    <li><a href="sign_in.html">Logout</a></li>
                </ul>
            </nav>
        </aside>
    </div> 
</body>
</html>